*~
*.o
*.la
*.lo
.libs
.deps
INSTALL
ar-lib
compile
py-compile
*Makefile
*Makefile.in
acinclude.m4
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ltmain.sh.bak
missing
mkinstalldirs
stamp-h1
stamp-h2

core.*

src/c/*.xml
src/c/example_mysql
src/c/example_mysql.exe
src/c/example_pg
src/c/example_pg.exe
src/c/example_odbc
src/c/example_odbc.exe
src/c/relprt
src/c/relprt.exe
src/c/relpth1
src/c/relpth1-gen
src/c/relpth1.exe
src/c/relpth1-gen.exe
src/c/relpth2
src/c/relpth2.exe
src/c/srcpth
src/c/srcpth.exe
src/c/breaks
src/c/breaks.exe
src/c/breaks.html
src/c/breaks2
src/c/breaks2.exe
src/c/breaks2.html
src/c/graph
src/c/graph.exe
src/c/follower
src/c/follower.exe
src/c/follower2
src/c/follower2.exe
src/c/follower_n_to_1
src/c/follower_n_to_1.exe
src/c/follower_n_to_1_2
src/c/follower_n_to_1_2.exe
src/c/follower_n_to_1_full_cartesian
src/c/follower_n_to_1_full_cartesian.exe
src/c/follower_n_to_1_full_cartesian2
src/c/follower_n_to_1_full_cartesian2.exe
src/c/follower_n_to_1_full_cartesian3
src/c/follower_n_to_1_full_cartesian3.exe
src/c/follower_n_to_1_vectormatch
src/c/follower_n_to_1_vectormatch.exe
src/c/follower_1_to_1_then_n_to_1
src/c/follower_1_to_1_then_n_to_1.exe
src/c/follower_n_to_1_then_1_to_1
src/c/follower_n_to_1_then_1_to_1.exe
src/c/follower_circular
src/c/follower_circular.exe
src/c/follower-breaks
src/c/follower-breaks.exe
src/c/hungary
src/c/hungary.exe
src/c/hyperinflation
src/c/hyperinflation.exe
src/c/formatstring
src/c/formatstring.exe

src/c/results/*
!src/c/results/.dummy

src/php/*.xml
src/php/results/*
!src/php/results/.dummy
