*~
*.o
*.la
*.lo
.libs
.deps
INSTALL
ar-lib
compile
py-compile
*Makefile
*Makefile.in
acinclude.m4
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ltmain.sh.bak
missing
mkinstalldirs
stamp-h1
stamp-h2

core.*

src/c/*
!src/c/Makefile.am
!src/c/*.c
!src/c/*.test
!src/c/expected
src/c/expected/*
!src/c/expected/*.stderr
!src/c/expected/*.stdout
!src/c/results
src/c/results/*
!src/c/results/.dummy
!src/c/generated
src/c/generated/*
!src/c/generated/.dummy

src/php/*
!src/php/Makefile.am
!src/php/*.php
!src/php/*.test
!src/php/expected
src/php/expected/*
!src/php/expected/*.stderr
!src/php/expected/*.stdout
!src/php/results
src/php/results/*
!src/php/results/.dummy
!src/php/generated
src/php/generated/*
!src/php/generated/.dummy
